<div class="mat-elevation-z8 prestamoTable">
  <button
    type="button"
    mat-raised-button
    class="createButton"
    (click)="createPrestamo()"
  >
    Create Prestamo
  </button>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef>Isbn</th>
      <td mat-cell *matCellDef="let element">{{ element.isbn }}</td>
    </ng-container>

    <ng-container matColumnDef="identificacionUsuario">
      <th mat-header-cell *matHeaderCellDef>Identificacion Usuario</th>
      <td mat-cell *matCellDef="let element">
        {{ element.identificacionUsuario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tipoUsuario">
      <th mat-header-cell *matHeaderCellDef>Tipo Usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.tipoUsuario }}</td>
    </ng-container>

    <ng-container matColumnDef="fechaMaximaDevolucion">
      <th mat-header-cell *matHeaderCellDef>Fecha Maxima de Devolucion</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fechaMaximaDevolucion }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onClickRow(row)"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>

  <app-prestamo-details
    [hidden]="prestamoDetailsHidden"
    [idPrestamo]="idPrestamo"
  ></app-prestamo-details>
</div>
